In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
import warnings
from pandas import read_csv
filename='marketitem.csv'
names=['SDATE','STORE-CODE','POSEID','BASK-COSE','PROD-CODE','ITEM-QUANITITY','ITEM-SPEND','NORMAL-PRICE','DISCOUNT-TYPE','DICOUNT-AMOUNT']
dataset=read_csv(filename,names=names)
print(dataset.shape)

(1732762, 10)

In [17]:
dataset.head()

,SDATE,STORE-CODE,POSEID,BASK-COSE,PROD-CODE,ITEM-QUANITITY,ITEM-SPEND,NORMAL-PRICE,DISCOUNT-TYPE,DICOUNT-AMOUNT
0,SDATE,STORE_CODE,POSID,BASK_CODE,PROD_CODE,ITEM_QUANTITY,ITEM_SPEND,NORMAL_PRICE,DISCOUNT_TYPE,DISCOUNT_AMOUNT
1,2018-06-01,D007,003,250451,29405,1,1.7,2.00000000,m,-0.3
2,2018-06-01,D007,003,250451,13187,1,1,1.00000000,n,0
3,2018-06-01,D007,003,250243,196249,1,99,99.00000000,m,0
4,2018-06-01,D007,003,250243,199637,1,9.9,16.80000000,p,-6.9

In [18]:
dataset.describe()

,SDATE,STORE-CODE,POSEID,BASK-COSE,PROD-CODE,ITEM-QUANITITY,ITEM-SPEND,NORMAL-PRICE,DISCOUNT-TYPE,DICOUNT-AMOUNT
count,1732762,1732762,1732762,1732762,1732762,1732762.0,1732762.0,1732762.0,1732762,1732762.0
unique,36,25,27,298391,27455,8197.0,10633.0,1676.0,10,4536.0
top,2018-06-17,D002,2,62087,205540,1.0,9.9,1.0,n,0.0
freq,87180,242492,504332,82,12341,1328136.0,55024.0,67521.0,1206812,1172049.0

In [19]:
dataset.dtypes

SDATE             object
STORE-CODE        object
POSEID            object
BASK-COSE         object
PROD-CODE         object
ITEM-QUANITITY    object
ITEM-SPEND        object
NORMAL-PRICE      object
DISCOUNT-TYPE     object
DICOUNT-AMOUNT    object
dtype: object